* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Muli', sans-serif;
    
    background-image: url("https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1855&q=80");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#buttons {
    margin: 0 3rem;
}

h1 {
    display: flex;
    margin-bottom: 5rem;
    color: rgb(128, 0, 255);
    text-shadow: 1px 2px 10px rgb(235, 14, 81);
}

h1:hover {
    color: rgb(92, 37, 147);
    transition: 0.7s;
    text-shadow: 1px 2px 3px rgb(255, 0, 191);
}


.btn {
    background-color: rebeccapurple;
    border-radius: 10px;
    color: rgb(255, 219, 219);
    margin: .1rem;
    padding: .5rem;
    border: none;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    color: rgb(255, 0, 43);
    opacity: 0.8;
}

footer {
    display: inline;
    margin-top: 20%;
}
footer a{
    background-color: rgba(255, 0, 255, 0.26);
    font-family: 'Cormorant SC', serif;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

footer a:hover {
    font-size: x-large;
    color: rgb(255, 0, 200);
    text-shadow: 0 0 5px blueviolet;
    transition: 4s;
}